@font-face {
  font-family: MyB;
  src: url(MyriadPro/MyriadPro-Bold.otf);
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: MySB;
  src: url(MyriadPro/MyriadPro-Semibold.otf);
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: MyC;
  src: url(MyriadPro/MyriadPro-Cond.otf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: MyR;
  src: url(MyriadPro/MyriadPro-Regular.otf);
  font-weight: normal;
  font-style: normal; }
.iconMobMenu, .mobMenu {
  display: none; }

.left {
  display: inline-block;
  width: 5.5%;
  max-width: 50px;
  vertical-align: top; }

header {
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 1400px;
  font-size: .75em;
  z-index: 3;
  transition: all .4s ease-in-out; }
  header nav {
    display: inline-block;
    width: 95.5%;
    padding-left: 1%; }
    header nav li {
      display: block;
      position: relative;
      float: left;
      padding: 10px;
      color: white; }
      header nav li.right {
        float: right; }
      header nav li:nth-child(1) {
        padding-right: 40px; }
      header nav li:nth-child(2) {
        padding: 10px 35px 10px 70px; }
      header nav li:nth-child(3), header nav li:nth-child(4) {
        padding: 15px 15px 10px;
        font-size: 1.17em; }
      header nav li:not(:nth-child(3)):after {
        content: url(../images/header/vert.png);
        position: absolute;
        right: -7px;
        top: 5px;
        padding: 0px 5px; }
      header nav li:nth-child(5):after {
        display: none; }
      header nav li:nth-child(7):after {
        display: none; }
    header nav #euro:before {
      content: url(../images/header/up.png);
      padding-right: 5px; }
    header nav #dollar:before {
      content: url(../images/header/down.png);
      padding-right: 5px; }
  header .search, header .share {
    background: url(../images/header/search.png) no-repeat center center;
    cursor: pointer;
    padding: 25px 25px 15px; }
  header .share {
    background: url(../images/header/share.png) no-repeat center center; }
  header #searchFull {
    display: none;
    float: right;
    width: 350px;
    height: 35px;
    margin-top: 7px;
    padding: 5px 10px 5px 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
    background-image: url("../images/header/searchImg.png");
    background-position: 10px 5px;
    background-repeat: no-repeat;
    transition: all .4s ease-in-out; }
    header #searchFull:focus {
      outline: none; }

.simple {
  height: 70px;
  background: black;
  background: -webkit-linear-gradient(bottom, transparent, black 70%);
  background: -o-linear-gradient(top, transparent, black 70%);
  background: -moz-linear-gradient(top, transparent, black 70%);
  background: linear-gradient(to top, transparent, black 70%); }

.colored {
  background-color: black;
  height: 50px; }

.weather {
  position: relative;
  width: 170px;
  word-wrap: break-word;
  text-align: justify; }

.weather:before {
  content: url(../images/header/rain.png);
  position: absolute;
  left: 20px;
  padding: 0px; }

.sharePaw {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 700;
  background-color: rgba(0, 0, 0, 0.95);
  transition: 1s all; }
  .sharePaw .box {
    position: relative;
    width: 640px;
    height: 477px;
    margin: 50px auto 0px;
    background-color: white; }
    .sharePaw .box #closePaw {
      content: url("../images/header/closePaw.png");
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer; }
    .sharePaw .box img {
      height: 310px;
      width: 100%; }
    .sharePaw .box h3 {
      font-size: 1.125em;
      padding: 25px 0px 10px 32px; }
    .sharePaw .box p {
      font-size: .875em;
      padding: 0px 0px 10px 32px; }
      .sharePaw .box p span {
        display: block;
        padding-top: 15px;
        color: #edede6; }
    .sharePaw .box .buts {
      display: block;
      width: 100%;
      padding-left: 32px;
      border-top: 1px solid #edede6; }
      .sharePaw .box .buts div {
        display: inline-block;
        height: 100%;
        padding: 5px 15px;
        cursor: pointer;
        vertical-align: center; }
      .sharePaw .box .buts .vk {
        content: url("../images/header/vk.png"); }
        .sharePaw .box .buts .vk:hover {
          content: url("../images/header/vkHover.png"); }
      .sharePaw .box .buts .fb {
        content: url("../images/header/fb.png"); }
        .sharePaw .box .buts .fb:hover {
          content: url("../images/header/fbHover.png"); }
      .sharePaw .box .buts .tw {
        content: url("../images/header/tw.png"); }
        .sharePaw .box .buts .tw:hover {
          content: url("../images/header/twHover.png"); }
      .sharePaw .box .buts .ok {
        content: url("../images/header/ok.png"); }
        .sharePaw .box .buts .ok:hover {
          content: url("../images/header/okHover.png"); }
      .sharePaw .box .buts .g {
        content: url("../images/header/g.png"); }
        .sharePaw .box .buts .g:hover {
          content: url("../images/header/gHover.png"); }

.shareClose {
  opacity: 0;
  visibility: hidden;
  display: none; }

.mobSl, .mobBg {
  display: none; }

.slider {
  display: block;
  position: relative;
  top: -20px;
  max-width: 1400px;
  height: 500px;
  border: 0;
  overflow: hidden;
  z-index: 0; }
  .slider video {
    width: 100%; }

#slides {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  z-index: 1; }

.shadow {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 50px;
  z-index: 2;
  background: black;
  background: -webkit-linear-gradient(bottom, black 1%, transparent 90%);
  background: -o-linear-gradient(top, black 1%, transparent 90%);
  background: -moz-linear-gradient(top, black 1%, transparent 90%);
  background: linear-gradient(to top, black, transparent 90%); }

.caption {
  position: absolute;
  bottom: 20px;
  padding: 0px 550px 10px 100px;
  text-align: left; }
  .caption a h2 {
    font-size: 2.25em;
    color: white;
    text-shadow: 0px 1px gray; }
  .caption p {
    padding-top: 10px;
    color: white;
    font-size: .875em; }
    .caption p span {
      color: #cc0000; }

.buttons {
  display: block;
  position: absolute;
  top: 150px;
  heigth: 100px;
  width: 20px;
  z-index: 2; }
  .buttons button {
    height: 30px;
    margin-bottom: 8px;
    background-color: transparent;
    background: url(../images/slider/sl.png) no-repeat center center;
    border: none;
    cursor: pointer; }
  .buttons button:active, .buttons button:focus {
    outline: none; }
  .buttons .activeSlide {
    background: url("../images/slider/sl_arr.png") no-repeat center center;
    margin-left: 5px; }

.slide:nth-of-type(2) {
  background-image: url(../images/slider/makron.png);
  background-size: cover; }

.slide:nth-of-type(3) {
  background-image: url(../images/slider/smoke.png);
  background-size: cover; }

.slide:nth-of-type(4) {
  background-image: url(../images/slider/spring.png);
  background-size: cover; }

.slide:nth-of-type(5) {
  background-image: url(../images/slider/spyrt.png);
  background-size: cover; }

.menuMobile {
  display: none; }

.menu {
  display: block;
  width: 100%;
  height: 46px;
  padding: 0px 380px 0px 50px;
  margin: -20px 0px 25px;
  background-color: #edede6;
  border: 1px solid #edede6;
  z-index: -1; }
  .menu .left {
    display: none; }
  .menu ul {
    height: 46px;
    white-space: nowrap;
    vertical-align: middle; }
    .menu ul li {
      display: inline-block; }
      .menu ul li a {
        display: block;
        padding: 14px .5%;
        text-align: center;
        color: black; }
        .menu ul li a:hover {
          color: white; }
      .menu ul li .dcontent {
        display: none;
        position: absolute;
        top: 43px;
        left: 0;
        width: 130px;
        padding: 10px 0;
        background-color: #edede6;
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
        z-index: 1; }
        .menu ul li .dcontent a {
          display: block;
          padding: 5px 15px;
          text-decoration: none;
          text-align: left;
          color: #bfbfac; }
          .menu ul li .dcontent a:hover {
            background-color: #bfbfb4;
            color: white; }
          .menu ul li .dcontent a li {
            width: 100%;
            height: 100%;
            padding: 0px;
            font-size: 100%;
            text-align: left; }
    .menu ul #all {
      display: inline-block;
      width: 130px;
      position: relative; }
      .menu ul #all a {
        color: #bfbfac; }
        .menu ul #all a:hover {
          color: white;
          background-color: #bfbfb4; }
        .menu ul #all a.all:before {
          content: url(../images/menu/all.png);
          padding-right: 8px; }
        .menu ul #all a.all:hover:before {
          content: url("../images/menu/allWhite.png"); }
      .menu ul #all:hover .dcontent {
        display: block; }
    .menu ul .searchSec {
      display: none;
      width: 50px;
      padding: 10px 10px;
      background: url("../images/header/searchImg.png") no-repeat center center;
      cursor: pointer; }
    .menu ul .shareSec {
      display: none;
      background: url("../images/header/shareImg.png") no-repeat center center;
      width: 50px;
      padding: 10px 10px;
      cursor: pointer; }
      .menu ul .shareSec a {
        width: 50px; }
    .menu ul .right {
      float: right; }
    .menu ul #searchFullTransf {
      display: none;
      float: right;
      max-width: 350px;
      height: 35px;
      margin-top: 7px;
      padding: 5px 10px 5px 40px;
      border-radius: 10px;
      border: none;
      background-color: white;
      background-image: url("../images/header/searchImg.png");
      background-position: 10px 5px;
      background-repeat: no-repeat;
      transition: all .4s ease-in-out; }
      .menu ul #searchFullTransf:focus {
        outline: none; }
    .menu ul #ua:hover {
      background-color: #ffd400;
      color: white; }
    .menu ul #politics:hover {
      background-color: #30b3bf;
      color: white; }
    .menu ul #videos:hover {
      background-color: #3640b3;
      color: white; }
    .menu ul #vypusky:hover {
      background-color: #cc0000;
      color: white; }
    .menu ul #blogs:hover {
      background-color: #cca266;
      color: white; }
    .menu ul #prosport:hover {
      background-color: #73cc33;
      color: white; }
    .menu ul #glam:hover {
      background-color: #ba39e6;
      color: white; }
    .menu ul #ledi:hover {
      background-color: #f2b6f2;
      color: white; }
    .menu ul #tsikavynky:hover {
      background-color: #f26522;
      color: white; }
    .menu ul #specprojects:hover {
      background-color: #f2b600;
      color: white; }

.transformed {
  position: fixed;
  top: 0px;
  height: 50px;
  margin-top: 0;
  padding: 0px;
  z-index: 3; }
  .transformed ul {
    display: inline-block;
    height: 48px;
    width: 95.5%; }

.newaside, aside {
  display: inline-block; }

aside {
  margin-top: -300px;
  white-space: normal;
  max-width: 330px;
  height: auto;
  background-color: #edede6;
  background: linear-gradient(-135deg, transparent 15px, #edede6 0) top right;
  padding: 22px 15px;
  margin-left: 50px;
  z-index: 1; }
  aside h3 {
    font-size: 1.5em;
    font-family: MySB;
    padding: 0px  0px 0px 7px; }
  aside .asideDiv {
    font-family: MyR;
    position: relative;
    padding: 15px 0; }
    aside .asideDiv a {
      color: black; }
      aside .asideDiv a div {
        width: 100%;
        height: 118.95px;
        margin-top: -15px;
        padding: 0px;
        overflow: hidden; }
        aside .asideDiv a div img {
          width: 100%;
          height: 100%; }
          aside .asideDiv a div img:hover {
            transform: scale(1.2); }
    aside .asideDiv:not(:nth-child(3)):after {
      content: "";
      background: url("../images/aside/aside_hor.png") no-repeat;
      background-size: contain;
      height: 5px;
      width: 100%;
      position: absolute;
      bottom: 0px; }
    aside .asideDiv .bold {
      font-family: MySB; }
      aside .asideDiv .bold span {
        font-family: myR;
        font-size: .75em;
        color: #bfbfac; }
    aside .asideDiv p span {
      display: block;
      font-size: .75em;
      padding-top: 20px;
      color: #bfbfac; }
  aside #load {
    display: block;
    text-align: center; }
    aside #load a {
      padding: 10px 0px 0px;
      margin: 0 auto;
      color: black; }
      aside #load a p {
        display: inline-block; }
    aside #load#load:after {
      content: url(../images/aside/load.png);
      display: inline-block;
      padding-left: 5px; }
  aside #banner {
    height: 250px;
    width: 300px;
    background: url(../images/aside/banner.png) no-repeat center center;
    background-size: contain;
    margin-top: 20px;
    padding: 0px; }
    aside #banner:after {
      content: ""; }

.beforeFooter {
  display: block;
  float: none;
  width: 100%;
  height: 10px; }

#moreBtn {
  display: none; }

.main {
  max-width: 1250px;
  position: relative;
  margin-left: 50px;
  white-space: nowrap; }
  .main .mmnews {
    width: calc(100% - 380px);
    margin: 0px;
    position: relative; }
    .main .mmnews:after {
      content: "";
      background-image: url(../images/mainnews/mn_hor.png);
      background-size: cover;
      height: 10px;
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0; }
    .main .mmnews li {
      display: inline-block;
      padding: 0px 10px 10px 0px; }
      .main .mmnews li a {
        font-size: .875em;
        color: black; }
      .main .mmnews li:first-child a {
        color: #cc0000; }
  .main #videoFull {
    display: none;
    width: 365px;
    height: 200px;
    position: fixed;
    top: 230px;
    z-index: 3; }
    .main #videoFull video {
      width: 100%;
      height: 100%; }
    .main #videoFull #play {
      content: url("../images/mainnews/playBtn.png");
      position: absolute;
      top: 47%;
      left: 47%;
      cursor: pointer; }
    .main #videoFull #quit {
      content: url("../images/header/closePaw.png");
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer; }
  .main .newaside {
    width: calc(100% - 380px);
    white-space: normal;
    vertical-align: top; }
    .main .newaside .mainNews {
      width: 100%;
      padding: 0px;
      white-space: nowrap; }
      .main .newaside .mainNews:after {
        content: "";
        clear: both;
        height: 0px; }
      .main .newaside .mainNews .news {
        display: inline-block;
        position: relative;
        width: 32%;
        height: 320px;
        max-width: 280px;
        padding: 10px 0px 20px 0px;
        margin-right: 1%;
        white-space: normal;
        vertical-align: top; }
        .main .newaside .mainNews .news a {
          display: block;
          height: auto; }
          .main .newaside .mainNews .news a .videoImg {
            max-width: 280px;
            margin: 0;
            background-color: black;
            max-height: 190px;
            background: black;
            position: relative;
            margin-bottom: 4px;
            background-size: cover;
            overflow: hidden; }
            .main .newaside .mainNews .news a .videoImg img {
              width: auto;
              max-width: 100%;
              height: auto;
              max-height: 100%; }
            .main .newaside .mainNews .news a .videoImg .v {
              background: url("../images/mainnews/video.png") no-repeat;
              position: absolute;
              height: 60px;
              width: 60px;
              top: 37%;
              left: 40%; }
            .main .newaside .mainNews .news a .videoImg .p {
              background: url("../images/mainnews/video.png") no-repeat;
              background-position: -130px -90px;
              position: absolute;
              height: 25px;
              width: 30px;
              top: 79%;
              left: 85%;
              cursor: pointer; }
            .main .newaside .mainNews .news a .videoImg .opened {
              background: url(../images/mainnews/icon.png) no-repeat center center;
              position: absolute;
              height: 60px;
              width: 60px;
              top: 37%;
              left: 40%; }
          .main .newaside .mainNews .news a img {
            max-width: 100%; }
          .main .newaside .mainNews .news a p {
            text-align: left;
            line-height: 20px;
            height: 65px;
            color: black; }
        .main .newaside .mainNews .news p.date, .main .newaside .mainNews .news p.comments, .main .newaside .mainNews .news p.watch {
          display: inline-block;
          line-height: 20px;
          font-size: .75em;
          padding-top: 10px;
          vertical-align: bottom;
          color: #bfbfac; }
        .main .newaside .mainNews .news p.date .svit {
          color: #028fbd; }
        .main .newaside .mainNews .news p.date .ukraine {
          color: #ffd400; }
        .main .newaside .mainNews .news p.date .glamur {
          color: #ba39e6; }
        .main .newaside .mainNews .news p.date .money {
          color: #1bb367; }
        .main .newaside .mainNews .news p.watch, .main .newaside .mainNews .news p.comments {
          float: right; }
        .main .newaside .mainNews .news p.comments:before {
          content: url("../images/mainnews/comment.png");
          padding: 0px 3px 0px; }
        .main .newaside .mainNews .news p.watch:before {
          content: url("../images/mainnews/view.png");
          padding: 15px 3px 0px 10px; }

.photos {
  clear: both;
  position: relative;
  background-color: black;
  width: 100%; }
  .photos .back {
    width: 2000px;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    margin: 0px -600px;
    z-index: -1; }
  .photos h3 {
    font-size: 1.125em;
    color: white;
    padding: 10px 0px 10px; }
  .photos .container {
    max-width: 870px;
    display: grid;
    grid-template-columns: 19.3% 19.3% 19.3% 19.3% 19.3%;
    grid-template-rows: 33% 33% 33%;
    grid-column-gap: 8px;
    grid-row-gap: 5px;
    padding: 0px; }
    .photos .container .item {
      position: relative;
      height: auto; }
      .photos .container .item img {
        width: 100%; }
      .photos .container .item .iconv {
        background: url("../images/mainnews/video.png") no-repeat;
        background-position: -130px -90px;
        position: absolute;
        height: 30px;
        width: 30px;
        top: 0;
        right: 10px;
        cursor: pointer; }
      .photos .container .item p {
        display: none;
        position: absolute;
        bottom: 5%;
        height: auto;
        width: 85%;
        background-color: #cc0000;
        text-align: left;
        font-size: .875em;
        color: white;
        padding: 10px 30px 10px 15px;
        line-height: 16px; }
        .photos .container .item p.first {
          width: 63%;
          padding-right: 10px;
          bottom: 10%; }
      .photos .container .item:hover p {
        display: block; }
    .photos .container .item-1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2; }
    .photos .container .item-2 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3; }
    .photos .container .item-4 {
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 3; }
    .photos .container .item-6 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4; }
    .photos .container .item-10 {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 4; }

#gallery {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999; }
  #gallery #mainG {
    position: relative;
    top: 20%;
    background-color: black;
    text-align: center; }
    #gallery #mainG .fullImg p {
      color: white;
      padding: 10px 100px;
      text-align: left; }
    #gallery #mainG .fullImg img {
      margin: 0 auto; }
    #gallery #mainG .quit {
      content: url("../images/header/closePaw.png");
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer; }
    #gallery #mainG .thumb {
      width: 90%;
      margin: 0 auto;
      height: 70px;
      background-color: black; }
      #gallery #mainG .thumb img {
        display: block;
        width: 7.6%;
        float: left;
        opacity: .4; }

.thumbActive {
  border: 1px solid white; }

.border {
  position: relative;
  max-width: 728px;
  height: 90px;
  margin: 20px auto;
  cursor: pointer; }
  .border .content {
    position: absolute;
    display: block;
    top: 0;
    width: 100%; }
    .border .content iframe, .border .content object, .border .content embed {
      width: 100%;
      height: 90px; }
  .border .transparent {
    position: absolute;
    display: block;
    width: 100%;
    top: 0; }
    .border .transparent img {
      width: 100%;
      height: 90px; }

.after {
  width: 100%;
  display: block;
  height: 50px;
  clear: both; }

footer {
  height: 250px;
  background-color: black;
  clear: both;
  position: relative;
  padding: 15px 7% 0px;
  text-align: center; }
  footer div {
    display: inline-block;
    margin: 10px 0px 60px;
    width: 12%;
    height: 30px; }
  footer .one {
    background: url("../images/footer/logo-opo.svg") no-repeat center center;
    background-size: contain; }
  footer .tet {
    background: url("../images/footer/logo-tet.svg") no-repeat center center;
    background-size: contain; }
  footer .two {
    background: url("../images/footer/logo-tpt.svg") no-repeat center center;
    background-size: contain; }
  footer .plus {
    background: url("../images/footer/logo-pp.svg") no-repeat center center;
    background-size: contain; }
  footer .plus1 {
    background: url("../images/footer/logo-opoi.svg") no-repeat center center;
    background-size: contain; }
  footer .big {
    background: url("../images/footer/logo-bigudi.svg") no-repeat center center;
    background-size: contain; }
  footer .unian {
    background: url("../images/footer/logo-unian.svg") no-repeat center center;
    background-size: contain; }
  footer .ovva {
    background: url("../images/footer/logo-ovva.svg") no-repeat center center;
    background-size: contain; }
  footer p {
    font-size: 3em;
    color: white;
    text-align: center; }
  footer .bottom {
    color: white;
    margin: 50px auto 0px auto;
    position: relative;
    width: 120px;
    font-size: .875em; }
    footer .bottom:before, footer .bottom:after {
      content: "";
      height: 7px;
      width: 35px;
      border-top: 1px solid white;
      position: absolute;
      top: 5px;
      left: 0; }
    footer .bottom:after {
      left: 85px; }

@media (min-width: 1401px) {
  header, .slider {
    margin: 0 auto;
    text-align: center; }

  .menu {
    max-width: 1400px;
    margin: 0 auto 30px;
    margin-top: -20px; }

  .transformed {
    margin: 0 auto;
    right: 0;
    left: 0; }

  .main {
    margin: 0 auto; }
    .main .newaside .mainNews .news a .videoImg {
      height: 65%; } }
@media (min-width: 991px) and (max-width: 1200px) {
  header nav {
    width: 94%; }

  .caption a {
    font-size: .9em;
    padding-right: 400px; }

  .menu {
    padding-left: 40px; }
    .menu ul li a {
      font-size: .9em; }

  .main {
    margin: 0px 40px; }
    .main .mmnews {
      width: calc(100% - 330px); }
    .main aside {
      max-width: 300px;
      margin: -260px 0px 0px 30px;
      font-size: .875em; }
      .main aside .asideDiv {
        padding: 8px 0px; }
      .main aside #banner {
        width: 270px;
        margin-top: 5px; }
    .main .newaside {
      width: calc(100% - 330px); }
      .main .newaside .photos {
        font-size: .875em; }
      .main .newaside .mainNews .news {
        margin: 0 2px;
        height: 280px;
        max-width: 32.5%; }
        .main .newaside .mainNews .news a .videoImg {
          max-height: 170px; }
        .main .newaside .mainNews .news a img {
          max-width: 100%; }
        .main .newaside .mainNews .news a p {
          font-size: .875em; }
        .main .newaside .mainNews .news p.date, .main .newaside .mainNews .news p.comments, .main .newaside .mainNews .news p.watch {
          font-size: .7em; }
          .main .newaside .mainNews .news p.date span, .main .newaside .mainNews .news p.comments span, .main .newaside .mainNews .news p.watch span {
            display: block; }

  .transformed ul {
    width: 94%; } }
@media (min-width: 769px) and (max-width: 990px) {
  header nav {
    width: 94%; }

  .slider {
    height: 420px; }
    .slider .slide {
      height: 420px; }
    .slider .caption a {
      padding: 0px 250px 0px 40px; }

  .menu {
    padding: 0px 380px 0px 20px; }
    .menu ul li a {
      padding: 14px 0.2%;
      font-size: .9em; }

  .transformed {
    padding: 0px 20px; }
    .transformed ul {
      width: 94%; }
      .transformed ul li a {
        padding: 14px .2%; }

  .main {
    margin: 0px 20px; }
    .main .mmnews {
      width: calc(100% - 270px); }
    .main .newaside {
      width: calc(100% - 270px); }
      .main .newaside .mainNews .news {
        margin: 2px 2px;
        max-width: 32.5%;
        height: 270px;
        padding: 0px; }
        .main .newaside .mainNews .news a .videoImg {
          max-height: 145px; }
          .main .newaside .mainNews .news a .videoImg .v {
            top: 30%;
            left: 35%; }
          .main .newaside .mainNews .news a .videoImg .p {
            top: 73%;
            left: 80%; }
        .main .newaside .mainNews .news a img {
          max-width: 100%; }
        .main .newaside .mainNews .news a p {
          font-size: .875em;
          line-height: 14px; }
        .main .newaside .mainNews .news p.comments, .main .newaside .mainNews .news p.watch {
          float: left;
          padding-top: 0; }
        .main .newaside .mainNews .news p.date {
          display: block;
          padding-top: 3px; }
          .main .newaside .mainNews .news p.date span {
            display: block; }
        .main .newaside .mainNews .news p.watch {
          margin-left: -5px; }
    .main aside {
      max-width: 250px;
      margin: -260px 0px 0px 20px;
      font-size: .875em; }
      .main aside .asideDiv {
        padding: 8px 0px; }
      .main aside #banner {
        display: none; } }
@media (max-width: 768px) {
  header .left {
    min-width: 35px; }
  header nav {
    width: calc(100% - 40px);
    position: relative; }
    header nav ul li {
      padding: 5px; }
      header nav ul li:first-child {
        display: none; }
      header nav ul li:nth-child(2) {
        width: 60px;
        height: 100%;
        padding: 5px; }
      header nav ul li.weather:before {
        display: none; }
      header nav ul li:not(:nth-child(3)):after {
        display: none; }
      header nav ul li:nth-child(3), header nav ul li:nth-child(4) {
        padding: 10px 5px;
        height: 100%; }
      header nav ul li.share {
        display: none; }
    header nav ul .iconMobMenu {
      display: block;
      float: right;
      margin: .5% 10px 0px;
      background: url(../images/mobile/menu.png) no-repeat center center;
      border: 0;
      height: 30px;
      width: 30px;
      cursor: pointer;
      outline: none; }
    header nav ul .mobMenu {
      position: absolute;
      top: 50px;
      display: none;
      height: 95vh;
      width: 100%;
      background-color: black;
      z-index: 1; }
      header nav ul .mobMenu .menuCol {
        display: block;
        float: left;
        width: 50%;
        height: 100%; }
        header nav ul .mobMenu .menuCol li {
          display: block;
          height: 9%;
          font-size: 1em;
          padding: 5% 10px 0;
          float: none;
          vertical-align: middle; }
          header nav ul .mobMenu .menuCol li a {
            color: white; }

  .menu {
    display: none; }

  .menuMobile {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    border: 1px solid gray;
    height: 40px;
    margin: 0px 0px 20px 0px; }
    .menuMobile::-webkit-scrollbar {
      display: none; }
    .menuMobile li {
      display: inline-block;
      height: 100%; }
      .menuMobile li a {
        display: block;
        padding: 10px 8px;
        height: 100%;
        color: black; }
        .menuMobile li a:hover {
          background-color: #bfbfb4; }

  .main {
    margin: 0; }
    .main .photos {
      display: none; }
    .main .mmnews {
      display: none; }
    .main .newaside {
      width: 100%; }
      .main .newaside .mainNews .news {
        display: block;
        width: 100%;
        height: auto;
        max-width: none;
        padding: 0px 0px 10px;
        margin: 0;
        text-align: left; }
        .main .newaside .mainNews .news a .videoImg {
          max-width: 100%;
          max-height: 100%; }
          .main .newaside .mainNews .news a .videoImg img {
            width: 100%; }
        .main .newaside .mainNews .news a img {
          margin: 0 auto;
          width: 100%; }
        .main .newaside .mainNews .news a p {
          padding: 0px 10px;
          height: auto; }
        .main .newaside .mainNews .news p.date {
          padding-left: 10px; }
        .main .newaside .mainNews .news p.comments, .main .newaside .mainNews .news p.watch {
          float: none; }
      .main .newaside .mainNews #moreBtn {
        display: block;
        width: 150px;
        padding: 15px;
        margin: 0 auto;
        border: 1px solid black;
        text-align: center;
        cursor: pointer; }
      .main .newaside .hideMob {
        display: none; }

  .slider {
    height: 100vh;
    position: relative;
    background-color: black; }
    .slider .mobBg {
      display: block;
      max-width: 100%;
      height: 50%;
      background: url("../images/slider/makron.png") no-repeat 20% 50%; }
    .slider .mobSl {
      display: block;
      position: absolute;
      bottom: 0px;
      height: auto;
      width: 100%;
      padding: 10px;
      z-index: 3; }
      .slider .mobSl .captionMob {
        display: block;
        position: relative;
        padding: 0px 0px 10px;
        width: 100%;
        height: auto; }
        .slider .mobSl .captionMob h2 {
          font-size: 1em; }
        .slider .mobSl .captionMob p {
          font-size: .5em; }
        .slider .mobSl .captionMob:after {
          content: "";
          position: absolute;
          bottom: 5px;
          background-color: #cc0000;
          width: 100px;
          height: 1px; }
    .slider ul {
      display: none; }
    .slider .shadow {
      bottom: 50%;
      height: 200px; }

  .buttons {
    display: none; }

  .border {
    margin: 0 auto 10px;
    max-width: 728px; }

  .newaside, aside {
    display: block; }

  aside {
    margin: 0px 0px 10px;
    max-width: 100%;
    background: none; }
    aside h3 {
      text-align: center; }
    aside #banner {
      display: none; }
    aside .asideDiv {
      padding: 15px 0; }
      aside .asideDiv p span {
        padding-top: 10px; }
      aside .asideDiv div {
        margin: 0 auto;
        max-width: 300px; }
        aside .asideDiv div img {
          max-width: 300px; }
      aside .asideDiv:nth-child(3):after {
        content: "";
        background: url("../images/aside/aside_hor.png") no-repeat;
        background-size: contain;
        height: 5px;
        width: 100%;
        position: absolute;
        bottom: 0px; }

  footer {
    height: 200px; }
    footer p {
      padding: 30px; }
    footer div:not(:last-of-type) {
      display: none; }
    footer div:last-of-type {
      margin: 10px auto 0px; } }
body {
  font-family: MyR;
  font-size: 16px;
  overflow-x: hidden; }

a {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
