$bgsl2: url(../images/slider/makron.png);
$bgsl3: url(../images/slider/smoke.png);
$bgsl4: url(../images/slider/spring.png);
$bgsl5: url(../images/slider/spyrt.png);

$bgmenu: rgb(237, 237, 230);

$fontColor: #bfbfac;
$redColor: #cc0000;

$svitColor: #028fbd;
$urkColor: #ffd400;
$glamColor: #ba39e6;
$monColor: #1bb367;
$polColor: #30b3bf;
$viColor: #3640b3;
$blogColor: #cca266;
$prosColor: #73cc33;
$leColor: #f2b6f2;
$tsiColor: #f26522;
$specColor: #f2b600;
$allColor: #bfbfb4;

$playBtn: url('../images/mainnews/playBtn.png');
$quitBtn: url('../images/header/closePaw.png');

$bg: "background-color";

