.newaside, aside{
	display: inline-block;
}
aside {
	margin-top: -300px;
	white-space: normal;
	max-width: 330px;
	height: auto;
	background-color: $bgmenu;
	background: linear-gradient(-135deg, transparent 15px, $bgmenu 0) top right;
	padding: 22px 15px;
	margin-left: 50px;
	z-index: 1;
	h3 {
		font-size: 1.5em;
		font-family: MySB;
		padding: 0px  0px 0px 7px;
	}
	.asideDiv {
		font-family: MyR;
		position: relative;
		padding: 15px 0;
		a {
			color: black;
			div {
				width: 100%;
				height: 118.95px;
				margin-top: -15px;
				padding: 0px;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					&:hover {
						transform: scale(1.2);
					}
				}
			}
		}
		&:not(:nth-child(3)):after {
			content: "";
			background: url('../images/aside/aside_hor.png') no-repeat;
			background-size: contain;
			height: 5px;
			width: 100%;
			position: absolute;
			bottom: 0px;
		}
		.bold {
			font-family: MySB;
			span {
				font-family: myR;
				font-size: .75em;
				color: $fontColor;
			}
		}
		p {
			span {
				display: block;
				font-size: .75em;
				padding-top: 20px;
				color: $fontColor;
				}
		}
	}

	#load {
				display: block;
				text-align: center;
		a {
			padding: 10px 0px 0px;
			margin: 0 auto;
			color: black;
			p {
				display: inline-block;
			}
		}
			
			&#load:after {
				content: url(../images/aside/load.png);
				display: inline-block;
				padding-left: 5px;
			}
		}

	#banner {
			height: 250px;
			width: 300px;
			background: url(../images/aside/banner.png) no-repeat center center;
			background-size: contain;
			margin-top: 20px;
			padding: 0px;
			&:after {
				content: "";
			}
		}
	
}

.beforeFooter {
	display: block;
	float: none;
	width: 100%;
	height: 10px;
}




	
