.slider {
	display: block;
	position: relative;
	top: -20px;
	max-width: 1400px;
	height: 500px;
	border:0;
	overflow: hidden;
	z-index: -1;
	video {
		width: 100%;
	}
}

#slides {
	position: relative;
	padding: 0;
	margin:0;
	list-style-type: none;
}

.slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 500px;
	z-index: 1;
}

.shadow {
	position: absolute;
	bottom:0;
	display:block;
	width: 100%;
	height: 50px;
	z-index: 2;
	background: black;
	background: -webkit-linear-gradient(bottom, black 1%, transparent 90%);
	background: -o-linear-gradient(top, black 1%, transparent 90%);
	background: -moz-linear-gradient(top, black 1%, transparent 90%);
	background: linear-gradient(to top, black, transparent 90%);
}

//CAPTION
.caption {
	position: absolute;
	bottom:20px;
	padding: 0px 550px 10px 100px;
	text-align: left;
	h2 {
		font-size: 2.25em;
		color: white;
		text-shadow: 0px 1px gray;
	}
	p {
		padding-top: 10px;
		color: white;
		font-size: .875em;
		span {
			color: $redColor;
		}
	}
}

.buttons {
	display:block;
	position: absolute;
	top:150px;
	heigth: 100px;
	width: 20px;
	z-index: 2;
	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
	button:active, button:focus {
		outline: none;
	}
}

.slide:nth-of-type(2) {
	background-image: $bgsl2;
	background-size: cover;
}

.slide:nth-of-type(3) {
	background-image: $bgsl3;
	background-size: cover;
}

.slide:nth-of-type(4) {
	background-image: $bgsl4;
	background-size: cover;
}

.slide:nth-of-type(5) {
	background-image: $bgsl5;
	background-size: cover;
}
